* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.background{
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./../image/home3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1em 0;
    color: #ffffff;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.background h1{
    font-size: 2em;
    color:white;
    font-weight: 900;
    margin-top: 8%;
    padding-bottom: 0.5em;
}

.background h4{
    font-size: 1.5em;
    color:white;
    font-weight: 900;
}

.background button{
    width: 50%;
    height: 2em;
    font-weight: 400;
    border: 1px solid white;
    margin-top:0.5em;
    color: white;
}

.action-button h4, .attention_button h4 {
    font-size: 13px;
    padding: 7px 20px;
    margin: 5px 0;
}

.themebutton {
    display: inline-block;
    color: #ffffff;
    background-color: darkorange;
    text-align: center;
}

h4.themebutton {
    font: 13px;
    font-family: arial;
}

.design li,a{
    text-decoration: none;
    list-style: none;
    color: gainsboro;
    transition:  all 0.3s ease-in;
}

.design li,a:hover{
    color: darkorange;
    font-size: 1.02em;
}

.design1 a {
    background-color:transparent;
}

.navbar-brand:hover{
    font-size: 1.27em;
}

.buttons{
    width: 50%;
    background-color: transparent;
    transition: all 0.3s ease-in;
}

.buttons:hover{
    width: 51%;
    background-color: transparent;
}

button a{
    text-decoration: none;
}

button a:hover{
    text-decoration: none;
    color: white;
}

.backfooter{
    font-size: 1em;
    padding: 1em;
}

.backfooter li{
    display:inline-block;
}

.backfooter a{
    border-radius: 50%;
    border:1px solid grey;
    width: 30px;
    height: 30px;
    display: block;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: all  0.2s ease-in;
}

.backfooter a:hover{
    font-size: 1.2em;
    color: darkorange;
    border:1px solid orange;
}

img{
    width:100%;
    height: 100%;
    margin-top: 1em;
}

hr{
    width: 100%;
    background-color: orange;
    height: 0.6px;
}

.foooter-background{
    color: white;
    background-color: rgb(20, 26, 26);
    padding-top: 2em;
    font-family: Calibri;
    font-size: 17.5px;
}

.footer-icon{
    font-size: 0.8em;
}

.footer-icon li{
    display:inline-block;
}

.footer-icon a{
    border-radius: 50%;
    border:1px solid grey;
    width: 30px;
    height: 30px;
    display: block;
    font-size: 1em;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: all  0.2s ease-in;
}

.footer-icon a:hover{
    font-size: 1.2em;
    color: darkorange;
    border:1px solid orange;
}

@media screen and (max-width: 500px) {
    .background button{
        width: 80%;
    }

    .buttons:hover{
        width: 81%;
        background-color: transparent;
    }
}

#top-up {
    font-size: 3rem;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    color:darkorange;
    bottom: 20px;
    right: 15px;
    display: none;
}
#top-up:hover {
    color: orange;
}

.col-sm-6 p{
    font-family: Calibri;
}

#artical hr {
    width: 50%;
    background-color: orange;
    height: 1px;
    margin: 0 auto;
}
